body {
	 background: url('https://raw.githubusercontent.com/lechivinh1992/keyword-search/master/41383292048830.jpg') no-repeat #f9f9fb;
	 background-size: 100%;
	 height: 600px;
	 font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
}
 #menu div {
	 text-align: center;
	 display: inline-block;
	 padding: 10px;
	 margin: 0px 5px;
	 cursor: pointer;
	 font-weight: bold;
	 border-bottom: 5px solid #240190;
	 border-bottom-left-radius: 5px;
	 border-bottom-right-radius: 5px;
}
 #menu div:active {
	 color: #e6056f;
}
 .container {
	 width: 60%;
	 height: 600px;
	 overflow: hidden;
	 margin: auto;
	 background: white;
	 border: 1px solid #ccc;
	 box-shadow: 1px 1px 10px #000;
	 right: 0;
	 top: 0;
}
 #reason {
	 display: inline-block;
	 border-radius: 4px;
	 padding: 10px 5px;
	 border: 1px solid #240190;
	 margin-right: -5px;
	 width: 100%;
}
 .content input[type="text"] {
	 border-color: #240190;
	 display: inline-block;
	 border-radius: 5px;
	 padding: 10px 5px;
	 border: 1px solid #01c2d6;
	 width: 100%;
}
 .content ul {
	 position: relative;
	 padding: 0;
	 height: 500px;
	 overflow-y: scroll;
	 font-weight: bold;
	 font-size: 18px;
	 color: green;
}
 .content ul li {
	 list-style-type: none;
	 border-bottom: 1px solid #ccc;
	 padding: 15px;
	 text-align: left;
	 color: #240190;
}
 .content ul li:hover {
	 cursor: pointer;
	 background: #b40457;
	 color: wheat;
}
 .content ul::-webkit-scrollbar {
	 width: 10px;
}
 .content ul::-webkit-scrollbar-thumb {
	 background: #240190;
	 border-radius: 10px;
}
 #clear {
	 display: inline-block;
	 background: #240190;
	 border: 1px solid #1e0177;
	 padding: 10px;
	 border-top-right-radius: 6px;
	 border-bottom-right-radius: 6px;
	 width: 10%;
	 color: white;
}
 #searhBar {
	 padding: 10px;
}
 .showSuccess:before {
	 content: "SUCS";
	 position: absolute;
	 left: 185;
	 background: #0000005e;
	 color: white;
	 padding: 15px 10px;
	 border: 1px solid #01c2d6;
	 border-radius: 100%;
	 transition: opacity 0.3s ease-in-out;
	 opacity: 1;
}
 .showSuccessV2 {
	 transition: opacity 0.5s ease-in-out;
	 opacity: 0;
	 position: fixed;
	 top: 40%;
	 left: 40%;
	 background: #0000005e;
	 border: 2px solid #01c2d6;
	 color: #01c2d6;
	 text-align: center;
	 font-weight: bold;
	 padding: 60px 60px;
	 border-radius: 50%;
}
 .show {
	 transition: opacity 0.5s ease-in-out;
	 opacity: 1;
}
 table {
	 width: 40%;
}
 table tr td {
	 border-bottom: 1px solid #ccc;
	 font-weight: bold;
	 color: #e6056f;
	 padding: 5px 10px;
}
 
